{% extends "Base/base.html" %}

{% block title %}Dormy - {{user.username}} {% endblock %}

{% block head %}

<style>
	.welcomeMessage
	{
		font-family: 'wind';
		font-size: 72px;
		text-align: center;
	}

	/* Let's get this party started */
	::-webkit-scrollbar {
		width: 12px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 153, 199, 0.7); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
		opacity: 0.7;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.1); 
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(0, 0, 0, 0.1); 
	}

	.rowBlock
	{
		margin-left: 10em;
	}

	.assassinfont{
		font-family: 'revolution';
		font-size: 36px;
	}

	.wind{
		font-family: 'wind';
		font-size: 32px;
	}

	.leftpad{
		padding-left: 3%;
	}

	.profileBG
	{
		background-color: rgba(150, 150, 150, 0.3);
		border-radius: 20px;
	}

	.editProfile
	{
		position: relative;
		color: rgba(255,255,255,1);
		text-decoration: none;
		background-color: rgba(130,130,130,1);
		font-family: 'wind';
		font-size:17px;
		display: block;
		padding-left: 25px;
		padding-right: 25px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		-moz-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		box-shadow: 0px 9px 0px rgba(80,80,80,1), 0px 9px 25px rgba(0,0,0,.7);
		float: left;
		text-align: center;

		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;	
		font-size: 32px;
	}
	.updateBox{
		position: relative;
		width:50%;
		min-height: 60px;
		padding:30px;
		border: 0px;
		margin-left:2%;
		margin-bottom: 10px;
		background-image: url({{ STATIC_URL }}images/feedBack.png); 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;		
		border-color: 000000;
		background-color: #ffffff;
		border-radius: 5px;
		-moz-box-shadow:1px 1px 2px rgba(0,0,0,.5);
		-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.5);
		box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	}

	.updateimage {
		float: left;
		padding-right: 10px;
		padding-bottom: 10px;
	}

	#timestamp {
		position: absolute;
		right: 10px;
		bottom: 0px;
		opacity: 0.6;
	}

	.submitting {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
		background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
		background-color:#f9f9f9;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#666666;
		font-family:wind;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:35px;
		line-height:35px;
		width:93px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #ffffff;
		margin-left: 30%;
	}
	.submitting:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
		background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
		background-color:#e9e9e9;
	}
	.submitting:active {
		position:relative;
		top:1px;
	}

</style>


{% endblock %}

{% block content %}


<div class="row">
	<div class="col-md-9">
		<h1>Welcome, {{user.student.F_NAME}}!</h1>
	</div>
	<div class="col-md-3">
		<!-- This would be dynamically replace with uni when released out of Beta... -->
		<h4>University of Sydney</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h4>Name: {{user.student.F_NAME}} {{user.student.L_NAME}}</h4>
		<h4>Degree: {{user.student.DEGREE}}</h4>
		{% if numOwn == 1 %}
		<h4>Owner of 1 Club/Society</h4>
		{% else %}
		<h4>Owner of {{numOwn}} Clubs/Societies</h4>
		{% endif %}
		<br>

		<!-- Kind of ugly and inconsistent with rest of page. Fix it when you can...-->
		<button id="profile" type="button" class="editProfile" style="font-family: 'wind';" data-toggle="tooltip"
		data-trigger="click" data-placement="right" data-html="True">
		Edit Profile
	</button>
	<div id="profile-head" class="hide">Edit Profile</div>
	<div id="profile-content" class="hide">
		<span>Okay! So let's make some changes, {{user.student.F_NAME}}. :)
		</span>
		<form method='post' action='.'> {% csrf_token %}
			<!-- display the form fields -->

			{{ editForm.non_field_errors }}

			<div class="fieldWrapper">
				{{ editForm.F_NAME.errors }}
				<label for="id_sender">FIRST NAME: </label><br>
				{{ editForm.F_NAME}}
			</div>

			<div class="fieldWrapper">
				{{ editForm.L_NAME.errors }}
				<label for="id_sender">LAST NAME: </label><br>
				{{ editForm.L_NAME}}
			</div>

			<div class="fieldWrapper">
				{{ editForm.DEGREE.errors }}
				<label for="id_sender">DEGREE: </label><br>
				{{ editForm.DEGREE}}
			</div>

			<!-- submit button -->
			<input class="submitting" type="submit" name="edit" value="Save Changes">
		</form>	
		<br>
		<p>Email: {{user.student.EMAIL}}</p>
		<p>University: University of Sydney</p>

	</div>
</div>
<div class="col-md-4">
	<p class="wind" style="font-size:20px;" align="center">You Follow</p>
	<p class="wind" style="font-size:60px;" align="center">{{numFol}}</p>
	<p class="wind" style="font-size:20px;" align="center">Clubs/Societies</p>
</div>

</div>

<br>
<br>
<div id="container">
	{% if updates %}
	{% for up in updates %}
	<div class="updateBox feedItem">
		<div class="updateimage">
			{% if up.SOC_ID.IMG %}
			<img src="{{ STATIC_URL }}{{ up.SOC_ID.IMG }}" id="updateimage" class="img-rounded" width='50' height='50' onclick="location.href='/clubs/{{up.SOC_ID.CODE}}'">
			{% else %}
			<img src="http://placehold.it/50x50" id="updateimage" class="img-rounded" onclick="location.href='/clubs/{{up.SOC_ID.CODE}}'">
			{% endif %}	  
		</div>  	
		<p onclick="location.href='/clubs/{{up.SOC_ID.CODE}}'">{{up.SOC_ID.NAME}}</p>
		<p> {{up.CONTENT}}</p>
		<div id="timestamp">
			<p>{{up.TIME}}</p>
		</div>
	</div>
	{% endfor %}
	{% else %}

	<h2> Your feed is empty!</h2>
	<h4>You should go follow some clubs, or if you already do...go follow some that actually post things!</h4>
	{% endif %}
</div>

<script type="text/javascript">

		$('#profile').popover({ 
			html : true,
			title: function() {
				return $("#profile-head").html();
			},
			content: function() {
				return $("#profile-content").html();
			}
		});

		$('#container').isotope({
			itemSelector: '.feedItem',
			layoutMode: 'masonry'

		});

	</script>



	{% endblock %}
