{% extends "Base/base.html" %}

{% block title %}Dormy - {{user.username}} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/fontsheet.css" type="text/css" charset="utf-8" />

<style>
	.welcomeMessage
	{
		font-family: 'wind';
		font-size: 72px;
		text-align: center;
	}
	
	.rowBlock
	{
		margin-left: 10em;
	}

	.blockfont{
		font-family: 'wind';
		font-size: 32px;
	}

	.leftpad{
		padding-left: 3%;
	}
	
	.profileBG
	{
		background-color: rgba(150, 150, 150, 0.3);
		border-radius: 20px;
	}
	
	.editProfile
	{
		position: relative;
		color: rgba(255,255,255,1);
		text-decoration: none;
		background-color: rgba(255,128,0,1);
		font-family: 'wind';
		display: block;
		padding-left: 25px;
		padding-right: 25px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		-moz-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		float: left;
		text-align: center;
		
		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;	
		font-size: 32px;
	}

	.button {
		width: 40%;
	}


</style>

{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-9">
		<h1>{{user.username}}</h1>
	</div>
	<div class="col-md-3">
		<!-- This would be dynamically replace with uni when released out of Beta... -->
		<h4>University of Sydney</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<br>
		<h4>Name: {{user.student.F_NAME}} {{user.student.L_NAME}}</h4>
		<h4>Degree: {{user.student.DEGREE}}</h4>
		{% if numOwn == 1 %}
			<h4>Owner of 1 Club/Society</h4>
		{% else %}
			<h4>Owner of {{numOwn}} Clubs/Societies</h4>
		{% endif %}
		<br>
		<button id="comingSoonFriend" type="button" class="btn btn-primary button">Add as Friend</button>
		<button id="comingSoonAch" type="button" class="btn btn-primary button">View Achievements</button>

	</div>
	<div class="col-md-4">
		<p class="blockfont" style="font-size:20px;" align="center">Following</p>
	  	<p class="blockfont" style="font-size:60px;" align="center">{{numFol}}</p>
	  	<p class="blockfont" style="font-size:20px;" align="center">Clubs/Societies</p>
	</div>
</div>

<br>
<br>


<script>
	$(document).ready(function(){
		$( "#comingSoonFriend" )
		  .mouseenter(function() {
				$("#comingSoonFriend").addClass("btn-secondary")
				$("#comingSoonFriend").removeClass("btn-primary")
				$("#comingSoonFriend").html("Coming Soon...")     
		  })
		  .mouseleave(function() {
				$("#comingSoonFriend").addClass("btn-primary")
				$("#comingSoonFriend").removeClass("btn-secondary")
				$("#comingSoonFriend").html("Add as Friend")
		});
		$( "#comingSoonAch" )
		  .mouseenter(function() {
				$("#comingSoonAch").addClass("btn-secondary")
				$("#comingSoonAch").removeClass("btn-primary")
				$("#comingSoonAch").html("Coming Soon...")		      
		  })
		  .mouseleave(function() {
				$("#comingSoonAch").addClass("btn-primary")
				$("#comingSoonAch").removeClass("btn-secondary")
				$("#comingSoonAch").html("View Achievements")
		});
	});
</script>

{% endblock %}