{% extends "Base/base.html" %}

{% block title %} Welcome! {% endblock %}

{% block content %}

  <h1>WELCOME TO DORMY!</h1>
  <h2>Before you get started, please provide us with some of your basic details, so that we may provide you with the best experience possible whilst using DORMY.</h2>

<br>
  
  <form id="firstForm" method='post' action='.'> {% csrf_token %}
    <!-- display the form fields -->

    {{ firstForm.non_field_errors }}
        <div class="fieldWrapper" style="height: 50px">
          {{ firstForm.F_NAME.errors }}
          <label for="id_F_NAME" style="margin-bottom: 1px">FIRST NAME: </label>
          {{ firstForm.F_NAME }}
        </div>

        <div class="fieldWrapper" style="height: 50px">  
          {{ firstForm.L_NAME.errors }}
          <label for="id_L_NAME" style="margin-bottom: 1px">SECOND NAME: </label>
          {{ firstForm.L_NAME }}
        </div>

        <div class="fieldWrapper" style="height: 50px">
          {{ firstForm.DEGREE.errors }}
          <label for="id_DEGREE" style="margin-bottom: 1px">UNIVERSITY DEGREE: </label>
          {{ firstForm.DEGREE}}
        </div>

        <div class="fieldWrapper" style="height: 50px">
          {{ firstForm.EMAIL.errors }}
          <label for="id_EMAIL" style="margin-bottom: 1px">EMAIL ADDRESS: </label>
          {{ firstForm.EMAIL}}
        </div>



    <!-- submit button -->
    <input type='submit' name="first" class="submitting">
  </form> 


  <style>
  #id_F_NAME,
  #id_L_NAME,
  #id_DEGREE,
  #id_EMAIL
  {
    border:0px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    width: 20%;
    margin-left: 2%;
    margin-top: -5%;
    margin-bottom: 5%;
    background: -moz-linear-gradient(top,  rgba(245, 245, 245,1) 0%, rgba(245, 245, 245,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245, 245, 245,1)), color-stop(100%,rgba(245, 245, 245,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  }

  #firstForm{
    margin-left:30%;
  }


  label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 200px;
  font-size: 17px;
}

  .submitting {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color:#f9f9f9;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:wind;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:45px;
    line-height:35px;
    width:103px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    margin-left: 25%;
  }
  .submitting:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
  }
  .submitting:active {
    position:relative;
    top:1px;
  }
</style>


{% endblock %}