{% extends "Base/base_landing.html" %}

{% block title %} Create an account {% endblock %}

{% block content %}

  <form id="loginbox" action="" method="post">{% csrf_token %}

  {% csrf_token %}

  <fieldset id="inputs">
    <input type="text" name="username" value="" id="password" placeholder="Username" autofocus required>
    {% if errors %}
      <p style="color: red;"> {{ errors.0.username.0}}</p>
    {% endif %}
    <input type="password" name="password1" value="" id="password" placeholder="Password" required>
    <input type="password" name="password2" value="" id="password" placeholder="Confirmation" required>
    {% if errors %}
      <p style="color: red;"> {{ errors.0.password2.0}} </p>
    {% endif %}
  </fieldset>
    <input type="submit" value="REGISTER NOW" class="loginbutton" id="loginbutton"/>
  </form>
{% endblock %}