{% extends "Base/base.html" %}

{% block title %}Dormy - Club Home {% endblock %}

{% block style %}
#createClub
{
	position: absolute;
	top: 3%;
	right: 3%;
	float: right;
	padding: 10px;
	width: 160px;
	height: 40px;
	z-index: 200;
}



{% endblock %}

{% block content %}

<h1 style="font-family: 'wind', Fallback, sans-serif;">Clubs and Societies - Home</h1>
<div class="row">
	<div class="col-md-9 revolutionfont">
		<p>Clubs are the backbone of Dormy! Why don't you make a club and let the whole university know what you like!</p>
		<p>Or you could search the bar on the left to see if someone has already made a club for the thing you like!</p>
		<p>Get enough followers and start making events, let them know about cool news and maybe even one day, become an Official Society of the university!</p>
		<p> </p>
	</div>

	<div class="col-md-3">
		<button id="createClub" class="btn btn-primary createClub" type="button" data-toggle="tooltip" data-trigger="click" data-placement="left" data-html="True">Create Club!</button>
		<div id="create-head" class="hide">Edit {{soc.CODE}}</div>
		<div id="create-content" class="hide">
			<span>Let's Make A Club!</span>
			<form method='post' action='.'> {% csrf_token %}
				<!-- display the form fields -->

				{{ clubForm.non_field_errors }}
				<div class="fieldWrapper">
					{{ clubForm.NAME.errors }}
					<label for="id_subject" style="margin-bottom: 1px">Club Name: </label>
					{{ clubForm.NAME }}
				</div>

				<div class="fieldWrapper">	
					{{ clubForm.CODE.errors }}
					<label for="id_message" style="margin-bottom: 1px">Club Code: </label>
					{{ clubForm.CODE }}
				</div>

				<div class="fieldWrapper">
					{{ clubForm.DESCR.errors }}
					<label for="id_sender" style="margin-bottom: 1px">Club Description: </label>
					{{ clubForm.DESCR}}
				</div>
				<!-- submit button -->
				<input class="submitting" type="submit" name="create" value="Create Club">
			</form>
		</div>
	</div>

	
</div>

<div class='container'>
  {% if owned %}
  <h3>Owned</h3>
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>Club Name</th>
      <th>Club Owner</th>
      <th>Description</th>
      <th></th>
     </tr>
     
     {% for club in owned %}
     <tr>
       <td>{{ club.id }}</td>
       <td>{{ club.NAME }}</td>
       <td>{{ club.OWNER }}</td>
       <td>{{ club.DESCR }}</td>
       <td><a href="/clubs/{{ club.CODE }}" class="btn btn-sm btn-primary">Show</a></td>
     </tr>
     {% endfor %}
  </table>
  {% else %}
  <h3> You have no ownership of any clubs. </h3>
  {% endif %}
</div>

<div class='container'>
  {% if following %}
  <h3>Following</h3>
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>Club Name</th>
      <th>Club Owner</th>
      <th>Description</th>
      <th></th>
     </tr>
     
     {% for club in following %}
     <tr>
       <td>{{ club.id }}</td>
       <td>{{ club.SOC_ID.NAME }}</td>
       <td>{{ club.SOC_ID.OWNER }}</td>
       <td>{{ club.SOC_ID.DESCR }}</td>
       <td><a href="/clubs/{{ club.SOC_ID.CODE }}" class="btn btn-sm btn-primary">Show</a></td>
     </tr>
     {% endfor %}
  </table>
  {% else %}
  <h3> You are not following any clubs. </h3>
  {% endif %}
</div>

<!-- Not Used 
<div id="container">
		{% for club in clubsOwn %}
			<div class="ownBox feedItem">
				{% if club.IMG %}
				<img src="{{ STATIC_URL }}{{ club.IMG }}" class="img-rounded" width='50' height='50'>
				{% else %}
				<img src="http://placehold.it/50x50" class="img-rounded">
				{% endif %}	    	
				<p>{{club.NAME}}</p>
				<p>{{club.CODE}}</p>
				<p>You Own This Club</p>
			</div>
		{% endfor %}
		{% for club in clubsFoll %}
			<div class="follBox feedItem">
				{% if up.SOC_ID.IMG %}
				<img src="{{ STATIC_URL }}{{ up.SOC_ID.IMG }}" class="img-rounded" width='50' height='50'>
				{% else %}
				<img src="http://placehold.it/50x50" class="img-rounded">
				{% endif %}	    	
				<p>Name</p>
				<p>Code</p>
				<p>You Follow This Club</p>

			</div>
		{% endfor %}
</div>
-->






<style>
	#id_NAME,
	#id_CODE,
	#id_DESCR
	{
		border:0px;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
		width: 80%;
		height: auto;
		margin-left: 10%;
		margin-top: -5%;
		margin-bottom: 5%;
		background: -moz-linear-gradient(top,  rgba(245, 245, 245,1) 0%, rgba(245, 245, 245,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245, 245, 245,1)), color-stop(100%,rgba(245, 245, 245,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	}

	.submitting {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
		background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
		background-color:#f9f9f9;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#666666;
		font-family:wind;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:35px;
		line-height:35px;
		width:93px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #ffffff;
		margin-left: 30%;
	}
	
	.submitting:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
		background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
		background-color:#e9e9e9;
	}
	
	.submitting:active {
		position:relative;
		top:1px;
	}

	.follBox{
		width:200px;
		padding:10px;
		border:5px solid blue;
		margin:5px;
	}


	.ownBox{
		width:200px;
		padding:10px;
		border:5px solid red;
		margin:5px;
	}
</style>


<script>
	$('#createClub').popover({ 
		html : true,
		title: function() {
			return $("#create-head").html();
		},
		content: function() {
			return $("#create-content").html();
		}
	});


	$('#container').isotope({
		itemSelector: '.feedItem',
		layoutMode: 'masonry'
	});
</script>

{% endblock %}