{% extends "Base/base.html" %}


{% block title %}Dormy - {{ soc.CODE }} {% endblock %}


{% block head %}


<style>
input#id_CONTENT{
		border:0px;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
		width: 140px;
		height: 30px;
		/*margin-left: 13%;*/
		background: -moz-linear-gradient(top,  rgba(245, 245, 245,1) 0%, rgba(245, 245, 245,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245, 245, 245,1)), color-stop(100%,rgba(245, 245, 245,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(245, 245, 245,1) 0%,rgba(245, 245, 245,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	.posts {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
		background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
		background-color:#f9f9f9;
		-webkit-border-top-left-radius:20px;
		-moz-border-radius-topleft:20px;
		border-top-left-radius:20px;
		-webkit-border-top-right-radius:20px;
		-moz-border-radius-topright:20px;
		border-top-right-radius:20px;
		-webkit-border-bottom-right-radius:20px;
		-moz-border-radius-bottomright:20px;
		border-bottom-right-radius:20px;
		-webkit-border-bottom-left-radius:20px;
		-moz-border-radius-bottomleft:20px;
		border-bottom-left-radius:20px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#666666;
		font-family:wind;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:35px;
		line-height:35px;
		width:93px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 1px 0px #ffffff;
		margin-left: 30%;
	}
	.posts:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
		background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
		background-color:#e9e9e9;
	}
	.posts:active {
		position:relative;
		top:1px;
	}
	
	.updateBox{
		position: relative;
		width:50%;
		min-height: 60px;
		padding:30px;
		border: 0px;
		margin-left:2%;
		margin-bottom: 10px;
		background-image: url({{ STATIC_URL }}images/feedBack.png); 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;		
		border-color: 000000;
		background-color: #ffffff;
		border-radius: 5px;
		-moz-box-shadow:1px 1px 2px rgba(0,0,0,.5);
		-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.5);
		box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	}

	.updateimage {
		float: left;
		padding-right: 10px;
		padding-bottom: 10px;
	}

	#timestamp {
		position: absolute;
		right: 10px;
		bottom: 0px;
		opacity: 0.6;
	}
</style>

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		{% if soc.IMG %}
			<img src="{{ STATIC_URL }}{{ soc.IMG }}" class="img-rounded" width='200' height='200'>
		{% else %}
			<img src="http://placehold.it/200x200" class="img-rounded">
		{% endif %}
	</div>
		<div class="col-md-6">
		<h1>{{soc.NAME}}</h1>
		<h3>{{soc.CODE}}</h3>
		{% if soc.UPG %}
			<h3><img src="{{ STATIC_URL }}icon_society.png" class="img-rounded" width='160' height='100'></h3>
		{% else %}
			<img src="{{ STATIC_URL }}icon_club.png" class="img-rounded" width='160' height='100'>
		{% endif %}
		<button onclick="location.href='/profile/{{ owner }}'" class="btn btn-info">Club Leader: {{ soc.OWNER }}</button>
		<h5>{{soc.DESCR}}</h5>
	</div>
	<div class="col-md-3">
			<button id="followClub" class="btn btn-primary button" type="button" onclick="Dajaxice.societies.dajaxice_example(follow, {'soc': '{{ soc.id }}', 'user': '{{ user.id }}'})" >Follow</button>
			<br>
			<span>There are</span> 
			<h2>{{followers}}</h2>
			<span> Students following this Club!</span>
	</div>
</div>
<div>
	<h2> Activity</h2>
	<div id="container">
		{% for up in updates %}
		<div class="updateBox feedItem">
			<div class="updateimage">
				{% if up.SOC_ID.IMG %}
				<img src="{{ STATIC_URL }}{{ up.SOC_ID.IMG }}" class="img-rounded" width='50' height='50' onclick="location.href='/clubs/{{up.SOC_ID.CODE}}'" >
				{% else %}
				<img src="http://placehold.it/50x50" class="img-rounded" onclick="location.href='/clubs/{{up.SOC_ID.CODE}}'">
				{% endif %}
			</div>    	
			<p> {{up.SOC_ID.NAME}}</p>
			<p> {{up.CONTENT}}</p>
			<div id="timestamp">
				<p> {{up.TIME}}</p>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

<script>
	$(document).ready(function(){

		if("{{follow}}" == "True") {
			$("#followClub").addClass("btn-success")
			$("#followClub").removeClass("btn-primary")
			$("#followClub").html("Following")
		}
		else {
			// Leave it as is...
		}
		$('#container').isotope({
			itemSelector: '.feedItem',
			layoutMode: 'masonry'

		});


		$( "#followClub" )
		  .mouseenter(function() {
  			if("{{follow}}" == "True") {
				$("#followClub").addClass("btn-danger")
				$("#followClub").removeClass("btn-success")
				$("#followClub").html("Unfollow")
			}			      
		  })
		  .mouseleave(function() {
  			if("{{follow}}" == "True") {
				$("#followClub").addClass("btn-success")
				$("#followClub").removeClass("btn-danger")
				$("#followClub").html("Following")
			}	
		});
	});


	function follow(data){
		alert(data.message);
		location.reload();
	}
</script>

{% endblock %}