{% extends "Base/base.html" %}

{% block title %} Available Clubs and Societies {% endblock %}

{% block content %}

<p> You searched for: <b>{{ query }}</b> </p>

<div class='container'>
  <h3>Societies and Clubs</h3>
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>Club Name</th>
      <th>Club Owner</th>
      <th>Description</th>
      <th></th>
     </tr>
     
     {% for club in clubs %}
     <tr>
       <td>{{ club.id }}</td>
       <td>{{ club.NAME }}</td>
       <td>{{ club.OWNER }}</td>
       <td>{{ club.DESCR }}</td>
       <td><a href="/clubs/{{ club.CODE }}" class="btn btn-sm btn-primary">Show</a></td>
     </tr>
     {% endfor %}
  </table>
</div>

<div class='container'>
  <h3>Students</h3>
  <table class='table'>
    <tr>
      <th>ID&nbsp</th>
      <th>First Name</th>
      <th>Last Name  </th>
      <th>Degree</th>
      <th></th>
     </tr>
     {% for user in students %}
     <tr>
       
        <td>{{ user.id }}</td>
        <td>{{ user.F_NAME }}</td>
        <td>{{ user.L_NAME }}</td>
        <td>{{ user.DEGREE }}</td>
        
       <td><a href="/profile/{{ user.user.username}}" class="btn btn-sm btn-primary">Show</a></td>
     </tr>
     {% endfor %}
  </table>
</div>
{% endblock %}