<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/dormy.ico">
	<title> {% block title %} {% endblock %} </title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link href="{{ STATIC_URL }}css/customstyle.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/fontsheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="{{ STATIC_URL}}css/markupstyle.css" type="text/css" charset="utf-8"/>

	<style>
		#normal{
			background-image: url({{ STATIC_URL }}images/pinstripe.png); 
			no-repeat center center fixed;
			width: 100%;
			height: auto;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		@font-face
		{
			font-family: 'wind';
			src: url('{{ STATIC_URL }}fonts/eurof55.ttf');
		}
	</style>
</head>
<body id = "normal">
	<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/"><img alt="Dormy" src="{{ STATIC_URL }}images/dormy2.png" style="=width: 92%; height:auto;"></img></a>                
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="collapse navbar-collapse">
					<div class="navbar-form navbar-right pull-right" role="password"> 
						<button onclick="location.href='/register/'" type="register" class="logregbutton">REGISTER</button>
						<button onclick="location.href='/login/'" id="login" type="login" class="logregbutton">LOGIN</button>
					</div>
				</div>
			</div>            
		</div>        
	</nav>

	<div class="container">
		{% block content %} 

		{% endblock %}
	</div>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>

	<script type="text/javascript">

		$(document).ready(function(){
 			//In this file, do all stuff
 			
 		});
	});

</script>
</body>
</html>