{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/dormy.ico">
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/fontsheet.css" type="text/css" charset="utf-8" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type="text/javascript"  src="{{ STATIC_URL }}js/bootstrap.js"></script>

	<!-- For the Feed -->
	<script type="text/javascript"  src="{{ STATIC_URL }}js/jquery.isotope.js"></script>

	{% block head %}{% endblock %}
	{% dajaxice_js_import %}
</head>

<style>
	#backing{
		background: url({{ STATIC_URL }}images/blast.png) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

	}

	@font-face
	{
		font-family: 'wind';
		src: url('{{ STATIC_URL }}fonts/eurof55.ttf');
	}

	.bar {
		position: fixed;
		top: 0%;
		left: 0%;
		opacity: 1.0;
		z-index: 0;
		width: 12%;
		height: 100%;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.title {
		position: fixed; top: 3%; left: 1%;
		opacity: 1.0;
		z-index: 1;
		width: 10%;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.navbtn{
		z-index: 1;
		height: 8%; width: 10%;
		text-align: left;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
		padding: 10px;
	}

	#sidebar:hover .bar{ 
		position: fixed;
		width: 12.2%;
	}

	#sidebar:hover .navbtn {
		position: fixed;
		width: 10.2%;
		font-size: 102%;
	}

	#sidebar:hover .searchbar {
		position: fixed;
		width: 8.7%;
		font-size: 102%;
	}

	#sidebar:hover .searchbutton {
		position: fixed;
		left: 9.7%; 
		width 1.7%;
		font-size: 102%;
	}

	#sidebar:hover .title {
		position: fixed;
		width: 10.2%;
	}

	.logoutbtn {
		z-index: 1;
		position: fixed;
		top: 1%;
		right: 1%;
		height: 4%;
		width: 5%;
	}

	.searchbar {
		z-index: 1;
		position: fixed; top: 10%; left: 1%;
		height: 3.5%; width: 8.5%;
		padding: 5px;
		border: none;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		margin-top: 2em;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.searchbutton {
		z-index: 1;
		position: fixed; top: 10%; left: 9.5%;
		height: 3.5%; width: 1.5%;
		padding: 5px;
		color: #ffffff;
		border: none;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		margin-top: 2em;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		-o-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.searchbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}

	.searchbutton::-moz-focus-inner {
		border: 0;
	}

	.homebtn {
		position: fixed; top: 15%; left: 1%;
		margin-top: 2em;		
	}
	
	.socbtn {
		position: fixed; top: 24.5%; left: 1%;
		margin-top: 2em;
	}
	
	.calbtn {
		position: fixed; top: 34%; left: 1%;
		margin-top: 2em;
	}
	
	.content {
		position: absolute;
		background-color: #ffffff;
		left: 13%;
		padding-top: 2%;
		padding-left: 5%;
		padding-bottom: 2%;
		left: 13%;
		margin-top: 1%;
		margin-bottom: 1%;
		margin-left: auto;
		margin-right: auto;
		width: 80.5%;
		min-height: 97%;
		border-radius: 5px;
		-moz-box-shadow:1px 1px 2px rgba(0,0,0,.5);
		-webkit-box-shadow:1px 1px 5px rgba(0,0,0,.5);
		box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	}

	.assassinfont{
		font-family: 'revolution';
		font-size: 36px;
	}


	{% block style %}{% endblock %}
</style>

<body id = "backing">
	<div id="sidebar">
		<img class="bar" src="{{ STATIC_URL }}images/altSidebar.png" />
		<img class="title" onclick="location.href='/home/';" style="cursor: pointer;" src="{{ STATIC_URL }}images/dormy2.png" />
		<button onclick="location.href='/accounts/logout/'" type="button" class="btn btn-danger logoutbtn">Log Out.</button>
		<input type="text" class="searchbar" id="search" placeholder="Search Dormy">
		<button type="submit" class="searchbutton"><span class="glyphicon glyphicon-search"></span></button>
		<button onclick="location.href='/home'" type="button" class="btn btn-info homebtn navbtn" style="text-align:center"><span class="glyphicon glyphicon-home"></span><t>&nbsp;  Home</button>
		<button onclick="location.href='/clubs'" type="button" class="btn btn-info socbtn navbtn"  style="text-align:center"><span class="glyphicon glyphicon-tower"></span>&nbsp;Clubs/Societies</button>
		<button onclick="location.href='/cal'" type="button" class="btn btn-info calbtn navbtn"  style="text-align:center"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Calendar</button>
	</div>
	<div class="content container">
		{% block content %} 

		{% endblock %}
	</div>


	<script>
	$(document).ready(function(){
		$('#search').keypress(function(e){
		  	if(e.keyCode==13)
				$('.searchbutton').click();
		});
	});


		$( ".searchbutton" ).click(function(){
			term = $("#search").val()
			if (term == "Search Dormy"){
				alert("Umm...How about search for something else? ");
			} else {
				location.href='/clubs/find='+term;
			}
  			
		});
		
	</script>
</body>
</html>