		.navbar-default
		{
			/*background-color:rgba(168,168,168,0.8);*/
			background-image: url(http://i.imgur.com/pnEpV2y.png); 
			no-repeat center center fixed;
			width: 100%;
			height: auto;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			opacity: 0.8;
			height: 18%;
		}
		.navbar-header
		{
			padding-top: 1%;
			padding-left: 1%;
			padding-bottom: 1%;
		}
		.navbar-form
		{
			padding-top:2em;
			padding-right:15em;
		}
		.content
		{
			position: absolute;
			top: 130px;
			left: 100px;
			background-color: white;
		}

		body
		{
			background-color:#d0e4fe;
		}
		
		#loginbox
		{
			background-color: rgba(0, 0, 0, 0);
			background-image: linear-gradient(top, #fff, #eee);
			height: 400px;
			width: 700px;
			padding: 30px;
			top: 60%;
			left: 50%;
			margin-left: -400px;
			margin-top: -220px;
			border-radius: 15px;
			position: fixed;
			z-index=0;
		}

		label
		{
			color: white;
			text-align: center;
		}

		#inputs input
		{
			background: #fff url(login-sprite.png) no-repeat;
			padding: 15px 15px 15px 30px;
			margin: 0 0 10px 0;
			width: 700px;
			border: 1px solid #ccc;
			font-size: 20px;
			border-radius: 15px;
			z-index=0;
		}
		#username
		{
			background-position: 5px -2px !important;
			font-family: 'wind';
		}
		#password
		{
			background-position: 5px -52px !important;
			font-family: 'wind';
		}

		#inputs input:focus
		{
			background-color: #fff;
			border-color: #3C3C3C;
			outline: none;
			box-shadow: 0 0 0 2px #9CB8CE inset;
		}

		#actions
		{
			margin: 25px 0 0 0;
		}

		#forgot
		{
			font: bold 15px 'squarefontregular';
			color: #fff;
			float: center;
			line-height: 35px;
			margin-left: 10px;
		}
		
		.logregbutton 
		{
			position: relative;
			color: rgba(255,255,255,1);
			text-decoration: none;
			background-color: rgba(140,140,140,1);
			font-family: 'wind';
			font-weight: 700;
			font-size: 3em;
			display: block;
			padding: 4px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			-webkit-box-shadow: 0px 9px 0px rgba(0,0,0,1), 0px 9px 25px rgba(0,0,0,.7);
			-moz-box-shadow: 0px 9px 0px rgba(0,0,0,1), 0px 9px 25px rgba(0,0,0,.7);
			box-shadow: 0px 9px 0px rgba(85,85,85,1), 0px 9px 25px rgba(85,85,85,.7);
			margin: -10px 10px 10px 10px;
			float: right;
			width: 240px;
			text-align: center;
			
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .1s ease;
		}

		.logregbutton:active 
		{
			-webkit-box-shadow: 0px 3px 0px rgba(51,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
			-moz-box-shadow: 0px 3px 0px rgba(51,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
			box-shadow: 0px 3px 0px rgba(51,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
			position: relative;
			top: 6px;
		}
		
		.loginbutton 
		{
			position: relative;
			color: rgba(255,255,255,1);
			text-decoration: none;
			background-color: rgba(105,105,105,1);
			font-family: 'wind';
			font-weight: 700;
			font-size: 3em;
			display: block;
			padding-left: 25px;
			padding-right: 25px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			-webkit-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
			-moz-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
			box-shadow: 0px 9px 0px rgba(60,60,60,1), 0px 9px 25px rgba(0,0,0,.7);
			margin: 0 22%;
			float: right;
			text-align: center;
			
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .1s ease;
		}

		.loginbutton:active 
		{
			-webkit-box-shadow: 0px 3px 0px rgba(51,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
			-moz-box-shadow: 0px 3px 0px rgba(51,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
			box-shadow: 0px 3px 0px rgba(51,0,0,1), 0px 3px 6px rgba(0,0,0,.9);
			position: relative;
			top: 6px;
		}