{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dormy - Admin</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/dormy.ico">
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type="text/javascript"  src="{{ STATIC_URL }}js/bootstrap.js"></script>
	{% dajaxice_js_import %}
</head>

<style>
.logoutbtn {
		position: fixed;
		top: 3%;
		right: 3%;
	}
</style>

<body>

<button onclick="location.href='/accounts/logout/'" type="button" class="btn btn-danger logoutbtn">Log Out.</button>


<h1> Admin - {{user.username}}</h1>
<br>
<br>
<br>

<div>
	<table class="table">
		<tr>
			<th>IMG</th>
			<th>Name</th>
			<th>Code</th>
			<th>Owner</th>
			<th>Status</th>
			<th></th>
		</tr>
		{% for s in socs %}
		<tr>
			<td>
				{% if s.IMG %}
					<img src="{{ STATIC_URL }}{{ s.IMG }}" class="img-rounded" width='50' height='50' onclick="location.href='/clubs/{{s.CODE}}'">
				{% else %}
					<img src="http://placehold.it/50x50" class="img-rounded" onclick="location.href='/clubs/{{s.CODE}}'">
				{% endif %}	    
			</td>
			<td>{{s.NAME}}</td>
			<td>{{s.CODE}}</td>
			<td>{{s.OWNER}}</td>
			<td>
				{% if s.UPG %}
					<p>Society</p>
				{% else %}
					<p>Club</p>
				{% endif %}
			</td>
			<td>
				{% if s.UPG %}
					<button type="button" class="btn btn-primary" onclick="Dajaxice.societies.changeState(action, {'soc': '{{ s.id }}'} )">Change to Club</button>
				{% else %}
					<button type="button" class="btn btn-primary" onclick="Dajaxice.societies.changeState(action, {'soc': '{{ s.id }}'} )">Change to Society</button>
				{% endif %}

				<button type="button" class="btn btn-danger" onclick="Dajaxice.societies.deleteSoc(action, {'soc': '{{ s.id }}'} )">X</button>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>


<script>


	function action(data){
		alert(data.message);
		location.reload();
	}

</script>



</body>