{% extends "Base/base.html" %}

{% block title %}Dormy - {{user.username}} {% endblock %}

{% block head %}
<style>
	.pos{
		position: fixed;
  		top: 50%;
  		left: 50%;
  		margin-top: -50px;
  		margin-left: -100px;
	}
</style>

{% endblock %}

{% block content %}
<div class="pos">
	<h1>Look, I'm Sorry Buddy....</h1>
	<h3>The page you are looking for doesnt exist...</h3>
</div>
{% endblock %}