{% extends "Base/base.html" %}

{% block title %}Dormy - {{user.username}} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/fontsheet.css" type="text/css" charset="utf-8" />

<style>
	.welcomeMessage
	{
		font-family: 'squarefontregular';
		font-size: 72px;
		text-align: center;
	}
	
	.rowBlock
	{
		margin-left: 10em;
	}

	.blockfont{
		font-family: 'squarefontregular';
		font-size: 32px;
	}

	.leftpad{
		padding-left: 3%;
	}
	
	.profileBG
	{
		background-color: rgba(150, 150, 150, 0.3);
		border-radius: 20px;
	}
	
	.editProfile
	{
		position: relative;
		color: rgba(255,255,255,1);
		text-decoration: none;
		background-color: rgba(255,128,0,1);
		font-family: 'squarefontregular';
		display: block;
		padding-left: 25px;
		padding-right: 25px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		-moz-box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		box-shadow: 0px 9px 0px rgba(204,102,0,1), 0px 9px 25px rgba(0,0,0,.7);
		float: left;
		text-align: center;
		
		-webkit-transition: all .1s ease;
		-moz-transition: all .1s ease;
		-ms-transition: all .1s ease;
		-o-transition: all .1s ease;
		transition: all .1s ease;	
		font-size: 32px;
	}


</style>

{% endblock %}

{% block content %}
<!-- Content will be replaced with dynamic retrieval from Django once models have been set up -->
<div class="row leftpad profileBG">
	<h1 class="welcomeMessage">Welcome, {{user.student.F_NAME}}!</h1>

	<div class="rowBlock">
	  <div class="col-md-8 blockfont">
	  	<p>Full Name: {{user.student.F_NAME}} {{user.student.L_NAME}}</p>
	  	<p>Degree: {{user.student.DEGREE}}</p>
	  	
	  	<!-- Should execute event to bring up form to edit Year, Degree, Gender, etc...-->
	  	<button type="button" class="editProfile" style="font-family: 'squarefontregular';">Edit Profile</button>
	  </div>

	  <div class="col-md-4">
	  	<p class="blockfont" style="font-size:30px;" align="center">You Follow</p>
	  	<!-- perhaps make the number a link to the societies you follow... -->
	  	<p class="blockfont" style="font-size:80px;" align="center">4</p>
	  	<p class="blockfont" style="font-size:30px;" align="center">Societies</p>
	  </div>
	</div>
</div>


{% endblock %}