<!DOCTYPE HTML>
<html>
<head>
	<title>Search</title>
</head>
<body>
<p>You searched for: <strong>{{ query }}</strong></p>

{% if ach %}
    <p>Found {{ ach|length }} Achieve{{ ach|pluralize }}.</p>
    <ul>
        {% for ac in ach %}
        <li>{{ ac.ACH_NAME }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No books matched your search criteria.</p>
{% endif %}
<e="submit" value="Search">
    </form>
</body>
</html>