{% extends "Base/base.html" %}

{% block title %} Available users and Societies {% endblock %}

{% block content %}

<div class='container'>
  <h3></h3>
  <p> You searched for: <b>{{ query }}</b> </p>
  <form action="" method="get">
    	Search Profile: <input type="text" name="search">
    	<input type="submit" value="Search">
    </form>
  <hr>
  {% if users %}
	    <p>Found {{ users|length }} Students {{ users|pluralize }}.</p>
	{% else %}
	    <p>No students matched your search criteria.</p>
	{% endif %}
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Degree</th>
      <th>Select</th>
     </tr>
     
     {% for user in users %}
     <tr>
       
       <td>{{ user.id }}</td>
        <td>{{ user.F_NAME }}</td>
        <td>{{ user.L_NAME }}</td>
        <td>{{ user.EMAIL }}</td>
        <td>{{ user.DEGREE }}</td>
        
       <td><a href="/profile/{{ user.F_NAME}}" class="btn btn-sm btn-primary">Show</a></td>
     </tr>
     {% endfor %}
  </table>
</div>

{% endblock %}