{% extends "Base/base_landing.html" %}

{% block title %}Dormy - Invalid Log In!{% endblock %}
{% block content %}

  <h2>INVALID LOGIN</h2>

  <p>Click <a href="/login">here</a> to try again.</p>

{% endblock %}
