{% extends "Base/base_landing.html" %}

{% block title %}DORMY - The Easiest Way TO Be Involved On Campus! {% endblock %}


{% block content %}
<style>
.landing{
	width: 70%;
	height: 50%;
	margin-left: 15%;
	margin-top: 20%;
	overflow: auto;
	font-family: 'wind';
	font-size: 18px;
	opacity: 0.8;

}
</style>

<div class="landing">
You would have a hard time finding a place with such a diverse range of interests as you find at a university. The broad range of studies attracts students and staff from all walks of life, whom each bring a unique potential to enrich the lives of students on campus. With such a dizzying array of societies and hobbies in existence on unviersity campus', students often don't get a chance to properly discover how many people share in the same pastimes, or other activities that they do, themselves.<br>
Social networks tend to limit students to their own network of friends to find out about clubs and societies, without a viable avenue to efficiently connect with other like minds.<br><br>
The motivating force behind DORMY is to allow people to share each other's passions and form clubs dedicated to those interests and to provide a springboard to becoming an officially recognised society at their university.
</div>

{% endblock %}