{% extends "Base/base_landing.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  

  <form id="loginbox" action="" method="post">{% csrf_token %}
  {% if errors %}
    {% for err in errors %}
    <center>
    <p class="error" style="color: red;">
      {{ err }}
    </p>
    </center>
    {% endfor %}
  {% endif %}
	<fieldset id="inputs">

    <input type="text" name="username" value="" id="username" placeholder="Username/Email" autofocus required>
    <input type="password" name="password1" value="" id="password" placeholder="Password" required>
	</fieldset>
    <input type="submit" value="ENTER DORMY" class="loginbutton" id="loginbutton"/>
  </form>

{% endblock %}
