{% extends "Base/base_landing.html" %}

{% block title %}Dormy - Something You want to know about! {% endblock %}
{% block content %}

  <h2>You have registered successfully!</h2>

  <p>Click <a href="/login">here</a> to Login.</p>

{% endblock %}
