{% extends "Base/base.html" %}

{% block title %}Dormy - Calendar {% endblock %}


{% block head %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/fullcalendar.css' />
<script type='text/javascript' src='{{ STATIC_URL }}js/fullcalendar.js'></script>


<style>



</style>

{% endblock %}

{% block content %}
	

<h1>Calendar</h1>



<div id='calendar'></div>



<script type="text/javascript">
	$(document).ready(function() {
		
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

	    // page is now ready, initialize the calendar...
	    $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
			},			
			editable: true,
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				}


				{% for e in events %}
				,
				{
					title: '{{e.NAME}} - {{e.SOC_ID.CODE}}',
					start: new Date({{e.TIME}}*1000),
					allDay: true
				}					
				{% endfor %}
			]
		});

});
</script>

{% endblock %}